@charset "UTF-8";

$color-black: #4b4b4b;
$color-white: #fff;
$color-gray-dark: #808080;
$color-red: #fe5040;
$color-blue: #009aff;
$color-green: #76b600;
$color-orange: #ff8a00;

$color-default: #8190a0;
$color-primary: #009aff;
$color-primary-hover: #00b4ff;
$color-primary-active: #018be6;
$color-danger: #e91d27;
$color-success: #4caf5b;
$color-success-hover: #66c775;
$color-success-active: #359644;
$color-plain: #e6e9ed;
$color-plain-hover: #f3f6fb;;
$color-plain-active: #e0e5ed;
$color-gray: #a5afbc;
$color-light-gray: #b4c2d5;
